<header class="container">

  <div class="row justify-content-center">

    <div class="col-6 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-3 blockdev">
      <div class="row justify-content-center text-center">
        <div class="col-12" >
          <span class="">Plataforma do </span>
        </div>
        <div class="col-12" >
            <span class="">Desenvolvedor Simples</span>
          </div>
        <div class="col-9 col-sm-7 col-md-7">
          <img width="114" height="29" class="imgcoffe" alt="coffe"  [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="coffeimg">
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-3">
      <div class="row justify-content-center">
        <div class="col-4 col-sm-3 col-md-3 text-center">
          <img width="64" height="54" class="rounded" alt="logotipo-foguete" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="fogueteimg">
        </div>
        <div class="col-5 col-sm-4 col-md-4 text-center">
          <img width="86" height="54" class="rounded" alt="logotipo-foguete" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="pdsdigital">
        </div>
      </div>
    </div>

  </div>

</header>
