
<section class="container containerbackground">


  <div class="row justify-content-center text-center">

    <div class="col-3 leaf-channel leaf-channel-1">
      <div class="leaf-container">
        <img width="273" height="600" class="leaf-img"
             src="assets/img/folhaverde2.png"
             alt="folha"/>
      </div>
    </div>


    <div class="col-3 leaf-channel leaf-channel-2 ">
      <div class="leaf-container">
        <img width="273" height="600" class="leaf-img"
             src="assets/img/folhaverde2.png"
             alt="folha"/>
      </div>
    </div>

    <div class="col-3 leaf-channel leaf-channel-3">
      <div class="leaf-container">
        <img width="273" height="600" class="leaf-img"
             src="assets/img/folhaverde2.png"
             alt="folha"/>
      </div>
    </div>

  </div>

  <div class="row justify-content-center text-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8 ">
      <h1 class="titulo"> Princípio <span> da semeadura </span> </h1>

      <div class="text-container">
        no
        <span>D</span>
        <span>I</span>
        <span>G</span>
        <span>I</span>
        <span>T</span>
        <span>A</span>
        <span>L</span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center ">

    <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-5">
      <h2 class="subtitulo">
        O <span>seu Sonho </span> é como uma semente que se plantada em terra fértil pode florescer e dar muitos frutos
      </h2>
    </div>

  </div>

  <div class="row justify-content-center text-center  containerbuttom">
    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-3  ">
      <button type="button" class="btn btn-success btn-lg 2 buttomcustom">Vamos Plantar</button>
    </div>
    <div class="col-5 col-sm-5 col-md-3 col-lg-4 col-xl-3 col-xxl-2   ">
      <button type="button" class="btn btn-secondary btn-lg buttomcustom2"> <span>Depois</span></button>
    </div>
  </div>


  <div class="row justify-content-center sementecontainer ">
    <div class="col-8 col-sm-7 col-md-6">
      <div class="row justify-content-center">

        <div class="col-3 ">
          <img width="47" height="101" class="animation1 float-end grudanadireita sementelayer"  alt="semente1" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="semente1">
        </div>

        <div class="col-3">
          <img width="47" height="101" class="animation2 grudanomeio sementelayer"  alt="semente2" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="semente2">
        </div>

        <div class="col-3">
          <img width="47" height="101" class="animation3 sementelayer grudanaesquerda"  alt="semente3" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="semente3">
        </div>

        <div class="col-10 text-center smartphonelayer ">
          <img width="222" height="91" alt="smartphoneanimation" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="smartphone">
        </div>
        <div class="col-12  text-center">
          <div class="layerwhite" ></div>
        </div>

      </div>
    </div>

  </div>


</section>
